sqlServerDriver = com.microsoft.sqlserver.jdbc.SQLServerDriver
sqlServerUrl = jdbc:sqlserver://iisqlsrv;database=imdb
sqlServerUser = your_sqlserver_username
sqlServerPassword = your_sqlserver_password

postgreSQLDriver = org.postgresql.Driver
postgreSQLUrl = jdbc:postgresql:CUSTOMER
postgreSQLUser = your_postgres_username
postgreSQLPassword = your_postgres_password